.penguin-body {
    width: 53%;
    height: 45%;
    background: linear-gradient(45deg,
            rgb(134, 133, 133) 0%,
            rgb(234, 231, 231) 25%,
            white 67%);
    border-radius: 80% 80% 100% 100%;
}